# MLB Salary Prediction (Part 1): Data Wrangling

There are two datasets that needed to be processed: 1) The salary data: `mlb-free-agency.csv` and 2) The production stats: `mlb-batting.csv`. The salary data are retrieved from [spotrac.com](https://www.spotrac.com/) using my own scraper. They contain MLB free agent transaction information from the 2011 season to 2022 season. The production stats are retreived from [FanGraphs](https://www.fangraphs.com/) using the `pybaseball` package.

Click [here](main.ipynb) to see __Part 2: EDA and Modeling__

In [1]:
from pybaseball import batting_stats
from pybaseball import playerid_lookup
from pybaseball import player_search_list
from pybaseball import playerid_reverse_lookup
import numpy as np
import pandas as pd
import csv
pd.set_option('display.max_rows', 10)

## 1.1 Initial processing of salary data

In [2]:
# import and inspect salary data

salary_df = pd.read_csv('data/mlb-free-agency.csv')
print(salary_df.shape)
salary_df.head()

(1669, 12)

,Unnamed: 0,name,position,age,from_team,to_tam,contract_length,total_salary,avg_salary,year,spotracID,spotracLink
0,0,Wil Nieves,C,33.2,WSH,MIL,1,775000.0,775000.0,2011,5414,https://www.spotrac.com/redirect/player/5414/
1,1,Albert Pujols,DH,31.8,STL,LAA,10,240000000.0,24000000.0,2012,795,https://www.spotrac.com/redirect/player/795/
2,2,Prince Fielder,DH,27.7,MIL,DET,9,214000000.0,23777778.0,2012,493,https://www.spotrac.com/redirect/player/493/
3,3,Jose Reyes,SS,28.4,NYM,MIA,6,106000000.0,17666667.0,2012,559,https://www.spotrac.com/redirect/player/559/
4,4,C.J. Wilson,SP,31.0,TEX,LAA,5,77500000.0,15500000.0,2012,874,https://www.spotrac.com/redirect/player/874/

In [3]:
salary_df.info()
# we have lots of entries that are missing salary info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1669 entries, 0 to 1668
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1669 non-null   int64
 1   name             1669 non-null   object
 2   position         1669 non-null   object
 3   age              1669 non-null   float64
 4   from_team        1669 non-null   object
 5   to_tam           1668 non-null   object
 6   contract_length  1669 non-null   object
 7   total_salary     1275 non-null   float64
 8   avg_salary       1275 non-null   float64
 9   year             1669 non-null   int64
 10  spotracID        1669 non-null   int64
 11  spotracLink      1669 non-null   object
dtypes: float64(3), int64(3), object(6)
memory usage: 156.6+ KB

In [4]:
# drop all rows with missing salary value

salary_df = salary_df[salary_df['total_salary'].notna()]
print(f"Total rows left: {len(salary_df.index)}")

Total rows left: 1275

In [5]:
# drop the only entry from year 2011

salary_df = salary_df.drop([0])
# drop first column
salary_df.drop(columns=salary_df.columns[0], axis=1, inplace=True)

In [6]:
# drop all pitchers: SP and RP

drop_SP = salary_df[salary_df['position'] == 'SP'].index
salary_df.drop(drop_SP, inplace = True)
drop_RP = salary_df[salary_df['position'] == 'RP'].index
salary_df.drop(drop_RP, inplace = True)
# change all outfield positions into 'OF'
salary_df.position.replace(['LF', 'CF', 'RF'], 'OF', inplace=True)

In [7]:
salary_df.sort_values('name', inplace=True)
salary_df.reset_index(drop=True, inplace=True)
salary_df.head()

,name,position,age,from_team,to_tam,contract_length,total_salary,avg_salary,year,spotracID,spotracLink
0,A.J. Ellis,C,35.6,PHI,MIA,1,2500000.0,2500000.0,2017,7427,https://www.spotrac.com/redirect/player/7427/
1,A.J. Pierzynski,C,37.5,BOS,STL,1,500000.0,500000.0,2014,188,https://www.spotrac.com/redirect/player/188/
2,A.J. Pierzynski,C,35.9,CHW,TEX,1,7500000.0,7500000.0,2013,188,https://www.spotrac.com/redirect/player/188/
3,A.J. Pierzynski,C,37.9,STL,ATL,1,2000000.0,2000000.0,2015,188,https://www.spotrac.com/redirect/player/188/
4,A.J. Pierzynski,C,38.8,ATL,ATL,1,3000000.0,3000000.0,2016,188,https://www.spotrac.com/redirect/player/188/

In [8]:
# see if more than one players have the same name in our salary data

## make a df with unique spotracIDs
unique = salary_df.drop_duplicates(subset=['spotracID'])
## check if there's any duplicate names in our unique DF
print("Players with the same name:")
unique[unique.duplicated(subset=['name'], keep=False)]
# there isn't any

Players with the same name:

Empty DataFrame
Columns: [name, position, age, from_team, to_tam, contract_length, total_salary, avg_salary, year, spotracID, spotracLink]
Index: []

## 1.2 Assign an ID to each unique player entry
We will need to merge the salary data with the production stats later on in order to perform analysis. Since the salary data came with only Spotrac IDs, we need to somehow lookup every individual player's FanGraphs ID instead, and assign it back to them. Luckily, `pybaseball` is embedded with the `playerid_lookup` function which does just that.

In [9]:
# create a new DataFrame just for the search operation

player_search = salary_df[['name','spotracID','spotracLink']].copy()
player_search.drop_duplicates(subset=['name'], keep='first', inplace=True)
player_search.head()

              name  spotracID                                     spotracLink
0       A.J. Ellis       7427   https://www.spotrac.com/redirect/player/7427/
1  A.J. Pierzynski        188    https://www.spotrac.com/redirect/player/188/
5     A.J. Pollock      10693  https://www.spotrac.com/redirect/player/10693/
6       Aaron Hill        908    https://www.spotrac.com/redirect/player/908/
7  Abraham Almonte      14343  https://www.spotrac.com/redirect/player/14343/

In [10]:
# split full names into first and last

for i, row in player_search.iterrows():
    player_search.at[i, 'first_name'] = row['name'].split()[0].lower()
    if len(row['name'].split()) <= 2:
        player_search.at[i, 'last_name'] = row['name'].split()[-1].lower()
    else:
        player_search.at[i, 'last_name'] = row['name'].split()[1].lower()
player_search.head()

,name,spotracID,spotracLink,first_name,last_name
0,A.J. Ellis,7427,https://www.spotrac.com/redirect/player/7427/,a.j.,ellis
1,A.J. Pierzynski,188,https://www.spotrac.com/redirect/player/188/,a.j.,pierzynski
5,A.J. Pollock,10693,https://www.spotrac.com/redirect/player/10693/,a.j.,pollock
6,Aaron Hill,908,https://www.spotrac.com/redirect/player/908/,aaron,hill
7,Abraham Almonte,14343,https://www.spotrac.com/redirect/player/14343/,abraham,almonte

In [11]:
# add an empty space into the abbreviated first names: e.g. 'c.j.' into 'c. j.'

for i, row in player_search.iterrows():
    if '.' in row.first_name:
        row.first_name = row.first_name.replace('.', '. ', 1)
        player_search.at[i, 'first_name'] = row.first_name
player_search.loc[[0]]
# Don't run more than once!

,name,spotracID,spotracLink,first_name,last_name
0,A.J. Ellis,7427,https://www.spotrac.com/redirect/player/7427/,a. j.,ellis

In [12]:
# create a list of tuples(last, first) to pass into the playerid_lookup function

name_list = []
for i, row in player_search.iterrows():
    tup = (row.last_name, row.first_name)
    name_list.append(tup)
print(f"# of players to be searched: {len(name_list)}")
name_list[:5]

# of players to be searched: 383

[('ellis', 'a. j.'),
 ('pierzynski', 'a. j.'),
 ('pollock', 'a. j.'),
 ('hill', 'aaron'),
 ('almonte', 'abraham')]

In [13]:
# lookup player IDs

playerID = player_search_list(name_list)
playerID.head()

Gathering player lookup table. This may take a moment.

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,ellis,a. j.,454560,ellia001,ellisaj01,5677,2008.0,2018.0
1,pierzynski,a. j.,150229,piera001,pierza.01,746,1998.0,2016.0
2,hill,aaron,431094,hilla001,hillaa01,6104,2005.0,2017.0
3,almonte,abraham,501659,almoa001,almonab01,5486,2013.0,2021.0
4,duvall,adam,594807,duvaa001,duvalad01,10950,2014.0,2021.0

In [14]:
# check if we have any duplicate results

playerID[playerID.duplicated(subset=['name_last', 'name_first'], keep=False)]
# indeed we have a lot

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
17,gonzalez,alex,136460,gonza002,gonzaal02,520,1998.0,2014.0
18,gonzalez,alex,114924,gonza001,gonzaal01,281,1994.0,2006.0
36,hall,bill,115355,hallb107,hallbi01,1005234,1913.0,1913.0
37,hall,bill,115356,hallb105,hallbi02,1005235,1954.0,1958.0
38,hall,bill,407849,hallb001,hallbi03,1605,2002.0,2012.0
...,...,...,...,...,...,...,...,...
288,taylor,michael,446345,taylm001,taylomi01,2591,2011.0,2014.0
301,cruz,nelson,112906,cruzn001,cruzne01,554,1997.0,2003.0
302,cruz,nelson,443558,cruzn002,cruzne02,2434,2005.0,2021.0
320,hernandez,ramon,115831,hernr102,hernara01,1005710,1967.0,1977.0
321,hernandez,ramon,150421,hernr002,hernara02,918,1999.0,2013.0

In [15]:
# remove all players whose retired before 2011

idx_drop = playerID[playerID['mlb_played_last']<=2010].index
playerID.drop(idx_drop, inplace=True)
# check if there are still duplicated players
playerID[playerID.duplicated(subset=['name_last', 'name_first'], keep=False)]

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
84,young,chris,432934,younc003,youngch03,3196,2004.0,2017.0
85,young,chris,455759,younc004,youngch04,3882,2006.0,2018.0
287,taylor,michael,572191,taylm002,taylomi02,11489,2014.0,2021.0
288,taylor,michael,446345,taylm001,taylomi01,2591,2011.0,2014.0

In [16]:
# after looking them up manualy, it turned out that chris young 3196 and taylor michael 2591 
# are not the ones I'm after

cy_idx = playerID[playerID['key_fangraphs']==3196].index
mt_idx = playerID[playerID['key_fangraphs']==2591].index
playerID.drop(cy_idx, inplace=True)
playerID.drop(mt_idx, inplace=True)

In [17]:
# see if there's still duplicate entries

playerID[playerID.duplicated(subset=['name_last', 'name_first'], keep=False)]
# nope

Empty DataFrame
Columns: [name_last, name_first, key_mlbam, key_retro, key_bbref, key_fangraphs, mlb_played_first, mlb_played_last]
Index: []

In [18]:
print(f"Number of players we searched: {len(name_list)}")
print(f"Number of result that we got: {len(playerID.index)}")

Number of players we searched: 383
Number of result that we got: 368

In [19]:
# create a list of player name that returned positive results
name_list_positive = []
for i, row in playerID.iterrows():
    tup = (row.name_last, row.name_first)
    name_list_positive.append(tup)
# check who are we still missing
name_list_missing = [x for x in name_list if x not in name_list_positive]
name_list_missing

[('pollock', 'a. j.'),
 ('de', 'alejandro'),
 ('ramirez', 'alexei'),
 ('lemahieu', 'd. j.'),
 ('santana', 'daniel'),
 ('iglesias', 'jose'),
 ('martin', 'leonys'),
 ('pina', 'manuel'),
 ('upton', 'melvin'),
 ('aoki', 'norichika'),
 ('pearce', 'steven'),
 ('la', 'tommy'),
 ('cespedes', 'yoenis'),
 ('torrealba', 'yorbit'),
 ('tsutsugo', 'yoshitomo')]

As you can see, we still ended up with 15 missing players. They were missed due to mismatching name format across databases. I decided to leave them out.

## 1.3 Merge salary data and playerID
Since neither the salary data nor playerID table contains duplicate names, we can safely merge the two on player names, which is the only unique identifier we have anyway. We need to create a `full_name` column in both tables.

In [20]:
# create a 'full_name' column in salary_df

salary_df['full_name'] = salary_df['name'].str.lower().str.replace(' ', '')
salary_df.head()

,name,position,age,from_team,to_tam,contract_length,total_salary,avg_salary,year,spotracID,spotracLink,full_name
0,A.J. Ellis,C,35.6,PHI,MIA,1,2500000.0,2500000.0,2017,7427,https://www.spotrac.com/redirect/player/7427/,a.j.ellis
1,A.J. Pierzynski,C,37.5,BOS,STL,1,500000.0,500000.0,2014,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski
2,A.J. Pierzynski,C,35.9,CHW,TEX,1,7500000.0,7500000.0,2013,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski
3,A.J. Pierzynski,C,37.9,STL,ATL,1,2000000.0,2000000.0,2015,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski
4,A.J. Pierzynski,C,38.8,ATL,ATL,1,3000000.0,3000000.0,2016,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski

In [21]:
# create a 'full_name' column in playerID

playerID['full_name'] = playerID['name_first'] + playerID['name_last']
playerID['full_name'] = playerID['full_name'].str.lower().str.replace(' ', '')
playerID.head()

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last,full_name
0,ellis,a. j.,454560,ellia001,ellisaj01,5677,2008.0,2018.0,a.j.ellis
1,pierzynski,a. j.,150229,piera001,pierza.01,746,1998.0,2016.0,a.j.pierzynski
2,hill,aaron,431094,hilla001,hillaa01,6104,2005.0,2017.0,aaronhill
3,almonte,abraham,501659,almoa001,almonab01,5486,2013.0,2021.0,abrahamalmonte
4,duvall,adam,594807,duvaa001,duvalad01,10950,2014.0,2021.0,adamduvall

In [22]:
# perform the merge

salaryFinalDF = pd.merge(salary_df, playerID, on='full_name', how='inner')
salaryFinalDF.head()

,name,position,age,from_team,to_tam,contract_length,total_salary,avg_salary,year,spotracID,spotracLink,full_name,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,A.J. Ellis,C,35.6,PHI,MIA,1,2500000.0,2500000.0,2017,7427,https://www.spotrac.com/redirect/player/7427/,a.j.ellis,ellis,a. j.,454560,ellia001,ellisaj01,5677,2008.0,2018.0
1,A.J. Pierzynski,C,37.5,BOS,STL,1,500000.0,500000.0,2014,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski,pierzynski,a. j.,150229,piera001,pierza.01,746,1998.0,2016.0
2,A.J. Pierzynski,C,35.9,CHW,TEX,1,7500000.0,7500000.0,2013,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski,pierzynski,a. j.,150229,piera001,pierza.01,746,1998.0,2016.0
3,A.J. Pierzynski,C,37.9,STL,ATL,1,2000000.0,2000000.0,2015,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski,pierzynski,a. j.,150229,piera001,pierza.01,746,1998.0,2016.0
4,A.J. Pierzynski,C,38.8,ATL,ATL,1,3000000.0,3000000.0,2016,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski,pierzynski,a. j.,150229,piera001,pierza.01,746,1998.0,2016.0

In [23]:
# check how many rows we have, should be a little over 15

print(f"# of rows before merge: {len(salary_df.index)}")
print(f"# of rows after merge: {len(salaryFinalDF.index)}")

# of rows before merge: 583
# of rows after merge: 561

We lost 22, since some of the 15 missed players had 1+ rows of salary information

In [24]:
# drop the columns we don't need

salaryFinalDF.drop(columns=['contract_length', 
                            'total_salary', 
                            'full_name', 
                            'name_last', 
                            'name_first',
                            'key_mlbam', 
                            'key_retro',
                            'key_bbref',
                            'spotracID',
                            'spotracLink'], inplace=True)
# rename the columns
salaryFinalDF.rename(columns={'year': 'year_fa',
                              'key_fangraphs': 'IDfg',
                              'mlb_played_first': 'first_played',
                              'mlb_played_last': 'last_played',
                              'to_tam': 'to_team'}, inplace=True)
salaryFinalDF.head()

,name,position,age,from_team,to_team,avg_salary,year_fa,IDfg,first_played,last_played
0,A.J. Ellis,C,35.6,PHI,MIA,2500000.0,2017,5677,2008.0,2018.0
1,A.J. Pierzynski,C,37.5,BOS,STL,500000.0,2014,746,1998.0,2016.0
2,A.J. Pierzynski,C,35.9,CHW,TEX,7500000.0,2013,746,1998.0,2016.0
3,A.J. Pierzynski,C,37.9,STL,ATL,2000000.0,2015,746,1998.0,2016.0
4,A.J. Pierzynski,C,38.8,ATL,ATL,3000000.0,2016,746,1998.0,2016.0

## 1.4 Import and clean the batting stats
1. Remove entries with BA less than 400:
2. Remove unwanted variables

In [25]:
# import mlb all batting stats from 2007-2021
batting_df = pd.read_csv('data/mlb-batting.csv')
pd.set_option('display.max_columns', None)
print(batting_df.shape)
batting_df.head()

# drop rows with AB < 400
# batting_df = batting_df.drop(batting_df[batting_df['AB']<400].index)
# batting_df.shape

(14118, 320)

,Unnamed: 0,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,2B,3B,HR,R,RBI,BB,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG,GB,FB,LD,IFFB,Pitches,Balls,Strikes,IFH,BU,BUH,BB%,K%,BB/K,OBP,SLG,OPS,ISO,BABIP,GB/FB,LD%,GB%,FB%,IFFB%,HR/FB,IFH%,BUH%,wOBA,wRAA,wRC,Bat,Fld,Rep,Pos,RAR,WAR,Dol,Spd,wRC+,WPA,-WPA,+WPA,RE24,REW,pLI,phLI,PH,WPA/LI,Clutch,FB% (Pitch),FBv,SL%,SLv,CT%,CTv,CB%,CBv,CH%,CHv,SF%,SFv,KN%,KNv,XX%,PO%,wFB,wSL,wCT,wCB,wCH,wSF,wKN,wFB/C,wSL/C,wCT/C,wCB/C,wCH/C,wSF/C,wKN/C,O-Swing%,Z-Swing%,Swing%,O-Contact%,Z-Contact%,Contact%,Zone%,F-Strike%,SwStr%,BsR,FA% (sc),FT% (sc),FC% (sc),FS% (sc),FO% (sc),SI% (sc),SL% (sc),CU% (sc),KC% (sc),EP% (sc),CH% (sc),SC% (sc),KN% (sc),UN% (sc),vFA (sc),vFT (sc),vFC (sc),vFS (sc),vFO (sc),vSI (sc),vSL (sc),vCU (sc),vKC (sc),vEP (sc),vCH (sc),vSC (sc),vKN (sc),FA-X (sc),FT-X (sc),FC-X (sc),FS-X (sc),FO-X (sc),SI-X (sc),SL-X (sc),CU-X (sc),KC-X (sc),EP-X (sc),CH-X (sc),SC-X (sc),KN-X (sc),FA-Z (sc),FT-Z (sc),FC-Z (sc),FS-Z (sc),FO-Z (sc),SI-Z (sc),SL-Z (sc),CU-Z (sc),KC-Z (sc),EP-Z (sc),CH-Z (sc),SC-Z (sc),KN-Z (sc),wFA (sc),wFT (sc),wFC (sc),wFS (sc),wFO (sc),wSI (sc),wSL (sc),wCU (sc),wKC (sc),wEP (sc),wCH (sc),wSC (sc),wKN (sc),wFA/C (sc),wFT/C (sc),wFC/C (sc),wFS/C (sc),wFO/C (sc),wSI/C (sc),wSL/C (sc),wCU/C (sc),wKC/C (sc),wEP/C (sc),wCH/C (sc),wSC/C (sc),wKN/C (sc),O-Swing% (sc),Z-Swing% (sc),Swing% (sc),O-Contact% (sc),Z-Contact% (sc),Contact% (sc),Zone% (sc),Pace,Def,wSB,UBR,Age Rng,Off,Lg,wGDP,Pull%,Cent%,Oppo%,Soft%,Med%,Hard%,TTO%,CH% (pi),CS% (pi),CU% (pi),FA% (pi),FC% (pi),FS% (pi),KN% (pi),SB% (pi),SI% (pi),SL% (pi),XX% (pi),vCH (pi),vCS (pi),vCU (pi),vFA (pi),vFC (pi),vFS (pi),vKN (pi),vSB (pi),vSI (pi),vSL (pi),vXX (pi),CH-X (pi),CS-X (pi),CU-X (pi),FA-X (pi),FC-X (pi),FS-X (pi),KN-X (pi),SB-X (pi),SI-X (pi),SL-X (pi),XX-X (pi),CH-Z (pi),CS-Z (pi),CU-Z (pi),FA-Z (pi),FC-Z (pi),FS-Z (pi),KN-Z (pi),SB-Z (pi),SI-Z (pi),SL-Z (pi),XX-Z (pi),wCH (pi),wCS (pi),wCU (pi),wFA (pi),wFC (pi),wFS (pi),wKN (pi),wSB (pi),wSI (pi),wSL (pi),wXX (pi),wCH/C (pi),wCS/C (pi),wCU/C (pi),wFA/C (pi),wFC/C (pi),wFS/C (pi),wKN/C (pi),wSB/C (pi),wSI/C (pi),wSL/C (pi),wXX/C (pi),O-Swing% (pi),Z-Swing% (pi),Swing% (pi),O-Contact% (pi),Z-Contact% (pi),Contact% (pi),Zone% (pi),Pace (pi),FRM,AVG+,BB%+,K%+,OBP+,SLG+,ISO+,BABIP+,LD+%,GB%+,FB%+,HR/FB%+,Pull%+,Cent%+,Oppo%+,Soft%+,Med%+,Hard%+,EV,LA,Barrels,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA
0,292,13611,2018,Mookie Betts,BOS,25,136,520,614,180,96,47,5,32,129,80,81,8,91,8,5,0,5,30,6,0.346,147,195,92,18,2582,1095,1487,14,0,0,0.132,0.148,0.89,0.438,0.640,1.078,0.294,0.368,0.0075,0.212,0.339,0.449,0.092,0.164,0.095,0.0,0.449,67.2,139,62.4,16.8,18.4,-5.3,101.1,10.4,$83.3,7.0,185,5.77,-8.16,13.93,62.93,6.11,0.92,3.62,4,6.44,-0.15,0.547,93.2,0.199,84.5,0.050,88.7,0.073,79.1,0.114,84.4,0.017,85.4,NaN,NaN,0.009,NaN,40.1,11.2,4.2,1.1,11.1,2.3,NaN,2.84,2.19,3.28,0.58,3.79,5.06,NaN,0.198,0.570,0.356,0.706,0.930,0.859,0.426,0.562,0.050,6.9,0.350,0.097,0.047,0.022,NaN,0.101,0.204,0.058,0.015,NaN,0.106,NaN,NaN,NaN,93.5,92.8,88.4,85.2,NaN,92.1,84.6,78.4,80.8,NaN,84.4,NaN,NaN,-2.4,-6.1,0.4,-4.1,NaN,-1.6,1.6,2.9,4.5,NaN,0.3,NaN,NaN,9.6,6.0,4.9,3.2,NaN,5.4,1.2,-5.3,-5.8,NaN,4.5,NaN,NaN,18.3,13.3,3.1,2.5,NaN,7.1,9.8,1.5,2.5,NaN,10.1,NaN,NaN,2.03,5.33,2.58,4.34,NaN,2.72,1.87,1.03,6.59,NaN,3.72,NaN,NaN,0.158,0.546,0.355,0.635,0.919,0.857,0.509,NaN,11.6,3.1,2.7,25 - 25,69.3,1.9,1.1,0.472,0.348,0.180,0.122,0.433,0.445,0.332,0.105,NaN,0.070,0.366,0.046,0.026,NaN,NaN,0.173,0.201,0.0,84.6,NaN,79.0,93.6,88.6,84.6,NaN,NaN,92.6,84.7,93.5,0.4,NaN,3.6,-1.9,0.5,-3.2,NaN,NaN,-4.2,2.1,-6.4,3.1,NaN,-7.2,8.2,4.2,1.6,NaN,NaN,4.4,-0.2,5.9,10.5,NaN,0.9,18.2,4.0,4.0,NaN,NaN,21.4,10.5,0.0,3.82,NaN,0.48,1.91,3.30,5.95,NaN,NaN,4.75,2.00,2.04,0.162,0.539,0.355,0.647,0.917,0.857,0.512,NaN,NaN,139.0,159,68,137.0,154.0,176.0,125.0,1.00,80.0,123.0,129.0,115.0,102.0,73.0,69.0,92.0,125.0,92.3,18.5,57.0,0.131,110.6,217.0,0.5,434,0.220,0.270,NaN,NaN,NaN
1,489,10155,2013,Mike Trout,LAA,21,157,589,716,190,115,39,9,27,109,97,110,10,136,9,8,0,8,33,7,0.323,191,164,106,6,3015,1295,1720,31,0,0,0.154,0.190,0.81,0.432,0.557,0.988,0.234,0.376,0.0116,0.230,0.414,0.356,0.037,0.165,0.162,0.0,0.423,61.1,140,62.2,1.6,20.5,-1.2,94.1,10.2,$75.2,6.8,176,5.01,-10.61,15.62,75.41,8.22,1.01,NaN,0,7.60,-2.62,0.605,92.3,0.162,83.8,0.047,88.2,0.081,77.3,0.089,83.1,0.013,84.5,0.004,76.5,0.013,NaN,47.0,4.2,3.8,3.0,8.8,1.1,-0.2,2.61,0.86,2.68,1.23,3.35,3.00,-1.78,0.237,0.556,0.375,0.703,0.890,0.823,0.432,0.535,0.066,8.2,0.398,0.124,0.047,0.010,NaN,0.084,0.167,0.066,0.014,0.001,0.086,NaN,0.003,NaN,92.4,91.4,88.9,83.4,NaN,91.9,83.7,76.8,79.3,65.9,82.9,NaN,78.4,-2.0,-2.1,1.2,-1.6,NaN,-2.1,2.0,4.4,2.5,-5.3,1.9,NaN,-2.1,8.6,6.2,5.1,2.8,NaN,5.9,0.3,-6.3,-5.7,-8.9,4.1,NaN,1.8,25.0,9.7,4.9,-0.5,NaN,11.4,2.0,2.3,0.7,-0.4,10.9,NaN,0.2,2.11,2.62,3.51,-1.72,NaN,4.57,0.41,1.15,1.72,-17.57,4.23,NaN,2.12,0.205,0.539,0.375,0.668,0.877,0.821,0.511,24.3,0.5,3.1,3.6,21 - 21,70.5,2.8,1.5,0.308,0.382,0.310,0.113,0.508,0.380,0.381,0.084,0.000,0.085,0.405,0.053,0.017,0.004,NaN,0.196,0.155,NaN,83.6,61.8,77.9,93.1,88.8,84.6,76.9,NaN,92.4,84.3,NaN,2.5,10.4,4.5,-1.5,1.5,-5.6,-2.3,NaN,-3.1,2.3,NaN,3.5,-15.9,-7.3,8.5,4.2,1.2,-0.5,NaN,5.0,-0.3,NaN,1.0,0.0,0.6,2.1,1.0,0.3,0.0,NaN,1.6,0.6,NaN,0.39,0.00,0.23,0.18,0.66,0.58,0.22,NaN,0.28,0.13,NaN,0.203,0.537,0.375,0.646,0.882,0.821,0.517,NaN,NaN,126.0,189,96,134.0,137.0,157.0,126.0,1.08,96.0,100.0,151.0,78.0,107.0,126.0,70.0,94.0,126.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,0,0.200,0.266,NaN,NaN,NaN
2,594,10155,2012,Mike Trout,LAA,20,139,559,639,182,117,27,8,30,129,83,67,4,139,6,7,0,7,49,5,0.326,187,139,95,6,2608,992,1616,22,6,3,0.105,0.218,0.48,0.399,0.564,0.963,0.238,0.383,0.0135,0.226,0.444,0.330,0.043,0.216,0.118,0.5,0.409,48.2,121,50.1,10.4,18.9,-0.2,96.2,10.1,$65.5,8.6,167,5.41,-8.48,13.90,54.86,5.79,0.91,NaN,0,6.24,-0.32,0.647,92.2,0.153,83.8,0.048,87.7,0.078,77.7,0.061,82.8,0.013,84.2,NaN,NaN,0.005,NaN,18.8,11.5,8.6,2.6,10.2,-0.4,NaN,1.12,2.90,6.89,1.27,6.44,-1.08,NaN,0.260,0.551,0.396,0.709,0.876,0.818,0.469,0.573,0.072,14.3,0.398,0.123,0.058,0.014,0.001,0.115,0.152,0.059,0.017,NaN,0.063,NaN,NaN,NaN,92.4,91.8,88.5,84.1,88.4,91.2,83.8,76.8,79.8,NaN,82.7,NaN,NaN,-2.3,-1.8,1.0,-6.0,-5.8,-2.8,2.3,2.6,1.9,NaN,2.6,NaN,NaN,8.6,6.9,5.6,3.8,3.4,5.1,0.3,-5.9,-6.0,NaN,4.4,NaN,NaN,10.9,7.7,4.6,0.2,0.3,3.2,10.2,4.5,-1.0,NaN,9.8,NaN,NaN,1.06,2.41,3.06,0.48,15.75,1.06,2.59,2.93,-2.27,NaN,6.05,NaN,NaN,0.236,0.530,0.396,0.696,0.862,0.817,0.543,23.4,10.2,7.0,6.2,20 - 20,64.4,2.8,1.1,0.323,0.384,0.293,0.143,0.529,0.328,0.369,0.057,0.001,0.077,0.422,0.058,0.014,NaN,NaN,0.207,0.150,NaN,83.3,66.2,78.1,93.1,88.1,84.6,NaN,NaN,91.7,84.5,NaN,2.7,8.2,2.4,-1.5,1.0,-5.7,NaN,NaN,-3.5,2.9,NaN,3.5,-11.7,-6.8,8.2,4.3,1.8,NaN,NaN,4.6,-0.3,NaN,0.1,0.0,0.9,-3.4,-0.5,0.1,NaN,NaN,-0.6,1.7,NaN,0.09,0.23,0.43,-0.31,-0.36,0.39,NaN,NaN,-0.11,0.43,NaN,0.233,0.532,0.396,0.681,0.866,0.817,0.543,NaN,NaN,127.0,131,113,125.0,137.0,152.0,130.0,1.08,100.0,95.0,182.0,80.0,110.0,119.0,93.0,95.0,114.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,0,0.221,0.293,NaN,NaN,NaN
3,621,9166,2012,Buster Posey,SFG,25,148,530,610,178,114,39,1,24,78,103,69,7,96,2,9,0,19,1,1,0.336,206,128,109,5,2599,1027,1572,17,0,0,0.113,0.157,0.72,0.408,0.549,0.957,0.213,0.368,0.0161,0.246,0.465,0.289,0.039,0.188,0.083,0.0,0.406,44.7,114,46.4,30.4,18.0,6.2,96.9,10.1,$66.0,2.0,164,4.93,-9.49,14.42,51.59,5.57,1.05,2.51,5,5.11,-0.41,0.550,91.3,0.200,83.4,0.062,87.3,0.100,76.1,0.081,81.6,0.007,85.7,NaN,NaN,0.007,NaN,29.8,-4.1,2.3,-1.9,14.4,1.6,NaN,2.10,-0.79,1.40,-0.73,6.90,8.84,NaN,0.264,0.607,0.418,0.771,0.896,0.853,0.450,0.572,0.061,-4.6,0.310,0.104,0.068,0.009,NaN,0.129,0.200,0.091,0.011,NaN,0.079,NaN,NaN,NaN,91.7,90.6,87.5,84.5,NaN,90.4,83.5,75.7,80.7,NaN,81.6,NaN,NaN,-1.4,-0.6,0.5,-3.2,NaN,-5.2,2.1,2.5,4.6,NaN,1.4,NaN,NaN,7.9,6.1,5.5,3.1,NaN,4.3,0.4,-6.3,-5.8,NaN,3.9,NaN,NaN,15.7,4.7,5.0,1.3,NaN,7.3,-4.5,-1.9,-0.5,NaN,14.3,NaN,NaN,1.96,1.75,2.88,5.74,NaN,2.21,-0.88,-0.83,-1.84,NaN,6.99,NaN,NaN,0.234,0.584,0.418,0.727,0.896,0.852,0.526,22.2,36.5,-1.0,-2.4,25 - 25,41.8,0.5,-1.2,0.381,0.363,0.255,0.108,0.576,0.316,0.310,0.074,0.001,0.103,0.301,0.087,0.010,NaN,NaN,0.222,0.179,NaN,82.4,75.0,77.2,92.9,87.6,84.8,NaN,NaN,91.3,84.5,NaN,1.5,7.9,3.4,-1.6,0.9,-3.3,NaN,NaN,-2.4,2.4,NaN,3.3,-8.3,-7.2,8.1,4.0,1.5,NaN,NaN,4.4,-0.2,NaN,0.1,0.1,1.1,-1.0,-0.3,0.5,NaN,NaN,-0.8,1.8,NaN,0.04,3.76,0.42,-0.13,-0.14,1.95,NaN,NaN,-0.14,0.40,NaN,0.225,0.590,0.418,0.712,0.899,0.852,0.528,NaN,24.8,129.0,137,82,125.0,133.0,140.0,121.0,1.17,103.0,86.0,171.0,98.0,102.0,100.0,70.0,103.0,109.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,0,0.190,0.251,NaN,NaN,NaN
4,522,10155,2016,Mike Trout,LAA,24,159,549,681,173,107,32,5,29,123,100,116,12,137,11,5,0,5,30,7,0.315,172,153,92,4,3014,1293,1721,18,0,0,0.170,0.201,0.85,0.441,0.550,0.991,0.235,0.371,0.0112,0.221,0.412,0.367,0.026,0.190,0.105,0.0,0.418,56.2,136,57.3,3.3,20.5,1.0,94.7,9.7,$77.5,6.6,170,6.55,-9.08,15.62,73.56,7.76,1.00,5.30,1,6.76,-0.19,0.580,92.5,0.162,84.2,0.059,87.6,0.090,78.6,0.080,84.2,0.018,85.0,0.012,76.1,0.012,NaN,31.5,0.4,8.8,13.2,7.4,0.3,1.0,1.83,0.07,5.02,4.90,3.11,0.57,2.93,0.230,0.603,0.388,0.706,0.870,0.814,0.423,0.558,0.071,9.6,0.380,0.098,0.058,0.022,NaN,0.107,0.160,0.069,0.023,0.000,0.071,NaN,0.013,NaN,92.8,92.2,88.0,85.0,NaN,91.2,84.0,77.7,82.0,65.8,84.3,NaN,75.8,-2.0,-0.7,1.7,-3.4,NaN,-3.5,2.6,4.4,4.6,-3.2,0.9,NaN,-2.5,9.9,7.1,5.3,3.2,NaN,5.8,1.9,-5.3,-6.2,2.7,4.0,NaN,1.3,23.2,6.8,2.9,2.6,NaN,4.0,1.7,11.6,-0.6,0.1,4.5,NaN,0.8,2.05,2.35,1.71,4.03,NaN,1.27,0.35,5.68,-0.87,9.20,2.15,NaN,1.93,0.209,0.572,0.387,0.671,0.868,0.814,0.491,22.6,4.3,2.6,3.5,24 - 24,67.0,2.9,3.5,0.405,0.329,0.266,0.120,0.463,0.417,0.414,0.074,0.001,0.092,0.386,0.066,0.020,0.011,NaN,0.166,0.147,0.0,84.7,74.7,79.3,93.6,88.7,85.4,76.4,NaN,92.2,85.1,0.0,0.9,10.4,4.4,-1.1,1.9,-4.2,-1.2,NaN,-3.6,3.3,0.0,2.6,-9.9,-7.1,8.6,4.1,1.0,-0.6,NaN,5.0,0.4,0.0,7.1,0.0,13.2,22.0,6.9,0.9,0.7,NaN,8.9,-1.0,-0.1,3.22,-0.77,4.82,1.91,3.54,1.53,1.94,NaN,1.79,-0.22,-5.71,0.208,0.574,0.387,0.670,0.868,0.814,0.489,NaN,NaN,122.0,212,97,137.0,130.0,141.0,124.0,1.08,94.0,103.0,146.0,99.0,96.0,106.0,64.0,93.0,133.0,90.9,13.7,56.0,0.134,117.1,167.0,0.4,417,0.188,0.259,NaN,NaN,NaN

In [26]:
# drop all unwanted stats
var_list = ['IDfg', 
            'Season', 
            'Name', 
            'Team', 
            'Age', 
            'G', 
            'PA', 
            'AB', 
            'R', 
            'H',
            '1B',
            '2B',
            '3B',
            'HR',
            'RBI',
            'SB',
            'CS',
            'BB',
            'SO',
            'GDP',
            'HBP',
            'SH',
            'SF',
            'IBB',
            'wRAA',
            'wOBA',
            'wRC+',
            'WPA',
            'WAR']
# NOTE: we are leaving out the percentage stats(e.g. AVG, OBP, OPS) for now because they can't be simply sumed or 
# averaged over years. I will calculate these stats myself later.
batting_basic_df = batting_df[var_list]
batting_basic_df = batting_basic_df.sort_values(by=['IDfg', 'Season'], ascending=True)
batting_basic_df.reset_index(drop=True, inplace=True)
batting_basic_df.columns

Index(['IDfg', 'Season', 'Name', 'Team', 'Age', 'G', 'PA', 'AB', 'R', 'H',
       '1B', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'GDP', 'HBP',
       'SH', 'SF', 'IBB', 'wRAA', 'wOBA', 'wRC+', 'WPA', 'WAR'],
      dtype='object')

## 1.5 Merge salary and batting data for analysis

In [27]:
# re_index batting_basic_df
batting_basic_df.reset_index(drop=True, inplace=True)
batting_basic_df = batting_basic_df.set_index(['IDfg'])
batting_basic_df.sort_index(level=['IDfg'], inplace=True)

In [28]:
# aggregate batting_basic based on FA year
agg_method = {'Age':'max',
             'G':'sum',
             'PA':'sum',
             'AB':'sum',
             'R':'sum',
             'H':'sum',
             '1B':'sum',
             '2B':'sum',
             '3B':'sum',
             'HR':'sum',
             'RBI':'sum',
             'SB':'sum',
             'CS':'sum',
             'BB':'sum',
             'SO':'sum',
             'GDP':'sum',
             'HBP':'sum',
             'SH':'sum',
             'SF':'sum',
             'IBB':'sum',
             'wRAA':'mean',
             'wRC+':'mean',
             'WPA':'sum',
             'WAR':'sum'}
batting_aggDF = pd.DataFrame()
# for each year of salary info, we aggregate 5 years' of batting stats before that. NOTE: right now we don't
# exlude any entries that have less than 5 years worth of batting stats
for row in salaryFinalDF.itertuples():
    selected_years = [row.year_fa-1, row.year_fa-2, row.year_fa-3, row.year_fa-4, row.year_fa-5,]
    player = batting_basic_df.loc[row.IDfg]
    player_add = player[player['Season'].isin(selected_years)].groupby(by=['IDfg','Name']).agg(agg_method)
    player_add['Year_FA']=row.year_fa
    player_add['Salary']=row.avg_salary
    player_add['position']=row.position
    player_add['seasons_included']=len(player[player['Season'].isin(selected_years)].index)
    batting_aggDF = batting_aggDF.append(player_add)

In [29]:
# Now, calculate the percentage stats:
batting_aggDF['AVG'] = batting_aggDF['H'] / batting_aggDF['AB']
batting_aggDF['OBP'] = (batting_aggDF['H'] + batting_aggDF['BB'] + batting_aggDF['IBB'] + batting_aggDF['HBP'])/(batting_aggDF['AB'] + batting_aggDF['BB'] + batting_aggDF['IBB'] + batting_aggDF['HBP'] + batting_aggDF['SF'])
batting_aggDF['SLG'] = (batting_aggDF['1B'] + batting_aggDF['2B'] * 2 + batting_aggDF['3B'] * 3 + batting_aggDF['HR'] * 4)/batting_aggDF['AB']
batting_aggDF['OPS'] = batting_aggDF['OBP'] + batting_aggDF['SLG']
batting_aggDF['BABIP'] = (batting_aggDF['H'] - batting_aggDF['HR'])/(batting_aggDF['AB']-batting_aggDF['SO']-batting_aggDF['HR']+batting_aggDF['SF'])
batting_aggDF['ISO'] = batting_aggDF['SLG'] - batting_aggDF['AVG']

In [30]:
batting_aggDF.head()

                      Age    G    PA    AB    R    H   1B   2B  3B  HR  RBI  \
IDfg Name
5677 A.J. Ellis        35  468  1713  1448  143  341  241   63   2  35  172
746  A.J. Pierzynski   36  664  2587  2424  254  682  479  122   7  74  300
     A.J. Pierzynski   35  664  2628  2455  272  695  489  129   7  70  290
     A.J. Pierzynski   37  628  2414  2258  222  616  431  112   7  66  288
     A.J. Pierzynski   38  613  2347  2191  217  610  429  107   8  66  281

                      SB  CS   BB   SO  GDP  HBP  SH  SF  IBB  wRAA  wRC+  \
IDfg Name
5677 A.J. Ellis        2   3  214  311   52   17  19  15   20 -1.68  92.8
746  A.J. Pierzynski   5   6  101  278   76   29  12  21   21  1.20  94.6
     A.J. Pierzynski   5   5  109  273   76   28  15  21   24  0.00  93.6
     A.J. Pierzynski   4   6   91  280   71   33  10  22   17 -0.48  90.4
     A.J. Pierzynski   1   4   95  278   73   34   4  23   17  2.42  96.6

                       WPA  WAR  Year_FA     Salary position  \
IDfg Name
5677 A.J. Ellis      -1.46  2.6     2017  2500000.0        C
746  A.J. Pierzynski -2.58  8.8     2014   500000.0        C
     A.J. Pierzynski -2.85  9.7     2013  7500000.0        C
     A.J. Pierzynski -4.54  5.3     2015  2000000.0        C
     A.J. Pierzynski -2.46  5.1     2016  3000000.0        C

                      seasons_included       AVG       OBP       SLG  \
IDfg Name
5677 A.J. Ellis                      5  0.235497  0.345391  0.354282
746  A.J. Pierzynski                 5  0.281353  0.320878  0.429043
     A.J. Pierzynski                 5  0.283096  0.324611  0.426884
     A.J. Pierzynski                 5  0.272808  0.312681  0.416298
     A.J. Pierzynski                 5  0.278412  0.320339  0.424920

                           OPS     BABIP       ISO
IDfg Name
5677 A.J. Ellis       0.699673  0.273948  0.118785
746  A.J. Pierzynski  0.749921  0.290492  0.147690
     A.J. Pierzynski  0.751495  0.293015  0.143788
     A.J. Pierzynski  0.728978  0.284385  0.143490
     A.J. Pierzynski  0.745259  0.290909  0.146508

In [31]:
# this is the frequency table for the number of seasons included
print("#ofSeasons: #ofEntries:")
batting_aggDF.seasons_included.value_counts()

#ofSeasons: #ofEntries:

5    507
4     44
3      6
2      4
Name: seasons_included, dtype: int64

In [32]:
# check distribution of position
batting_aggDF['position'].value_counts()

OF    189
C     104
2B     72
1B     62
3B     61
DH     37
SS     36
Name: position, dtype: int64

In [33]:
# create dummy variables for position, leaving 'OF' out
dummies = pd.get_dummies(batting_aggDF['position']).drop('OF', axis=1)
dummies.rename(columns={'1B': '1B_pos', 
                        '2B': '2B_pos', 
                        '3B': '3B_pos',
                        'C': 'C_pos', 
                        'DH': 'DH_pos',
                        'SS': 'SS_pos'}, inplace=True)
batting_aggDF = pd.concat((batting_aggDF, dummies), axis=1)
batting_aggDF.head()

                      Age    G    PA    AB    R    H   1B   2B  3B  HR  RBI  \
IDfg Name
5677 A.J. Ellis        35  468  1713  1448  143  341  241   63   2  35  172
746  A.J. Pierzynski   36  664  2587  2424  254  682  479  122   7  74  300
     A.J. Pierzynski   35  664  2628  2455  272  695  489  129   7  70  290
     A.J. Pierzynski   37  628  2414  2258  222  616  431  112   7  66  288
     A.J. Pierzynski   38  613  2347  2191  217  610  429  107   8  66  281

                      SB  CS   BB   SO  GDP  HBP  SH  SF  IBB  wRAA  wRC+  \
IDfg Name
5677 A.J. Ellis        2   3  214  311   52   17  19  15   20 -1.68  92.8
746  A.J. Pierzynski   5   6  101  278   76   29  12  21   21  1.20  94.6
     A.J. Pierzynski   5   5  109  273   76   28  15  21   24  0.00  93.6
     A.J. Pierzynski   4   6   91  280   71   33  10  22   17 -0.48  90.4
     A.J. Pierzynski   1   4   95  278   73   34   4  23   17  2.42  96.6

                       WPA  WAR  Year_FA     Salary position  \
IDfg Name
5677 A.J. Ellis      -1.46  2.6     2017  2500000.0        C
746  A.J. Pierzynski -2.58  8.8     2014   500000.0        C
     A.J. Pierzynski -2.85  9.7     2013  7500000.0        C
     A.J. Pierzynski -4.54  5.3     2015  2000000.0        C
     A.J. Pierzynski -2.46  5.1     2016  3000000.0        C

                      seasons_included       AVG       OBP       SLG  \
IDfg Name
5677 A.J. Ellis                      5  0.235497  0.345391  0.354282
746  A.J. Pierzynski                 5  0.281353  0.320878  0.429043
     A.J. Pierzynski                 5  0.283096  0.324611  0.426884
     A.J. Pierzynski                 5  0.272808  0.312681  0.416298
     A.J. Pierzynski                 5  0.278412  0.320339  0.424920

                           OPS     BABIP       ISO  1B_pos  2B_pos  3B_pos  \
IDfg Name
5677 A.J. Ellis       0.699673  0.273948  0.118785       0       0       0
746  A.J. Pierzynski  0.749921  0.290492  0.147690       0       0       0
     A.J. Pierzynski  0.751495  0.293015  0.143788       0       0       0
     A.J. Pierzynski  0.728978  0.284385  0.143490       0       0       0
     A.J. Pierzynski  0.745259  0.290909  0.146508       0       0       0

                      C_pos  DH_pos  SS_pos
IDfg Name
5677 A.J. Ellis           1       0       0
746  A.J. Pierzynski      1       0       0
     A.J. Pierzynski      1       0       0
     A.J. Pierzynski      1       0       0
     A.J. Pierzynski      1       0       0

In [34]:
# drop 'position'
batting_aggDF.drop('position', axis=1)
# re-arange the columns
col = ['Age', 'G', '1B_pos', '2B_pos', '3B_pos', 'C_pos', 'DH_pos', 'SS_pos', 
       'PA', 'AB', 'R', 'H', '1B', '2B', '3B', 'HR', 'RBI', 'BB', 'SO', 'HBP', 
       'IBB', 'SB', 'CS', 'GDP', 'SH', 'SF', 'AVG', 'OBP', 'SLG', 'OPS', 'ISO', 
       'BABIP', 'wRAA', 'wRC+', 'WPA', 'WAR', 'Year_FA', 'seasons_included', 'Salary']
batting_aggDF = batting_aggDF[col]

In [35]:
batting_aggDF.head()

                      Age    G  1B_pos  2B_pos  3B_pos  C_pos  DH_pos  SS_pos  \
IDfg Name
5677 A.J. Ellis        35  468       0       0       0      1       0       0
746  A.J. Pierzynski   36  664       0       0       0      1       0       0
     A.J. Pierzynski   35  664       0       0       0      1       0       0
     A.J. Pierzynski   37  628       0       0       0      1       0       0
     A.J. Pierzynski   38  613       0       0       0      1       0       0

                        PA    AB    R    H   1B   2B  3B  HR  RBI   BB   SO  \
IDfg Name
5677 A.J. Ellis       1713  1448  143  341  241   63   2  35  172  214  311
746  A.J. Pierzynski  2587  2424  254  682  479  122   7  74  300  101  278
     A.J. Pierzynski  2628  2455  272  695  489  129   7  70  290  109  273
     A.J. Pierzynski  2414  2258  222  616  431  112   7  66  288   91  280
     A.J. Pierzynski  2347  2191  217  610  429  107   8  66  281   95  278

                      HBP  IBB  SB  CS  GDP  SH  SF       AVG       OBP  \
IDfg Name
5677 A.J. Ellis        17   20   2   3   52  19  15  0.235497  0.345391
746  A.J. Pierzynski   29   21   5   6   76  12  21  0.281353  0.320878
     A.J. Pierzynski   28   24   5   5   76  15  21  0.283096  0.324611
     A.J. Pierzynski   33   17   4   6   71  10  22  0.272808  0.312681
     A.J. Pierzynski   34   17   1   4   73   4  23  0.278412  0.320339

                           SLG       OPS       ISO     BABIP  wRAA  wRC+  \
IDfg Name
5677 A.J. Ellis       0.354282  0.699673  0.118785  0.273948 -1.68  92.8
746  A.J. Pierzynski  0.429043  0.749921  0.147690  0.290492  1.20  94.6
     A.J. Pierzynski  0.426884  0.751495  0.143788  0.293015  0.00  93.6
     A.J. Pierzynski  0.416298  0.728978  0.143490  0.284385 -0.48  90.4
     A.J. Pierzynski  0.424920  0.745259  0.146508  0.290909  2.42  96.6

                       WPA  WAR  Year_FA  seasons_included     Salary
IDfg Name
5677 A.J. Ellis      -1.46  2.6     2017                 5  2500000.0
746  A.J. Pierzynski -2.58  8.8     2014                 5   500000.0
     A.J. Pierzynski -2.85  9.7     2013                 5  7500000.0
     A.J. Pierzynski -4.54  5.3     2015                 5  2000000.0
     A.J. Pierzynski -2.46  5.1     2016                 5  3000000.0

## 1.6 Export DataFrame to CSV

In [37]:
batting_aggDF.to_csv('data_cleaned.csv')

Click [here](main.ipynb) to see __Part 2: EDA and Modeling__