# MLB Salary Prediction (Part 1): Data Wrangling

There are two datasets that needed to be processed: 1) The salary data: `mlb-free-agency.csv` and 2) The production stats: `mlb-batting.csv`. The salary data are retrieved from [spotrac.com](https://www.spotrac.com/) using my own scraper. They contain MLB free agent transaction information from the 2011 season to 2022 season. The production stats are retreived from [FanGraphs](https://www.fangraphs.com/) using the `pybaseball` package.

Click [here](main.ipynb) to see __Part 2: EDA and Modeling__

In [1]:
from pybaseball import batting_stats
from pybaseball import playerid_lookup
from pybaseball import player_search_list
from pybaseball import playerid_reverse_lookup
import numpy as np
import pandas as pd
import csv
pd.set_option('display.max_rows', 10)

## 1.1 Initial processing of salary data

In [2]:
# import and inspect salary data

salary_df = pd.read_csv('data/mlb-free-agency.csv')
print(salary_df.shape)
salary_df.head()

(1669, 12)

,Unnamed: 0,name,position,age,from_team,to_tam,contract_length,total_salary,avg_salary,year,spotracID,spotracLink
0,0,Wil Nieves,C,33.2,WSH,MIL,1,775000.0,775000.0,2011,5414,https://www.spotrac.com/redirect/player/5414/
1,1,Albert Pujols,DH,31.8,STL,LAA,10,240000000.0,24000000.0,2012,795,https://www.spotrac.com/redirect/player/795/
2,2,Prince Fielder,DH,27.7,MIL,DET,9,214000000.0,23777778.0,2012,493,https://www.spotrac.com/redirect/player/493/
3,3,Jose Reyes,SS,28.4,NYM,MIA,6,106000000.0,17666667.0,2012,559,https://www.spotrac.com/redirect/player/559/
4,4,C.J. Wilson,SP,31.0,TEX,LAA,5,77500000.0,15500000.0,2012,874,https://www.spotrac.com/redirect/player/874/

In [3]:
salary_df.info()
# we have lots of entries that are missing salary info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1669 entries, 0 to 1668
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1669 non-null   int64
 1   name             1669 non-null   object
 2   position         1669 non-null   object
 3   age              1669 non-null   float64
 4   from_team        1669 non-null   object
 5   to_tam           1668 non-null   object
 6   contract_length  1669 non-null   object
 7   total_salary     1275 non-null   float64
 8   avg_salary       1275 non-null   float64
 9   year             1669 non-null   int64
 10  spotracID        1669 non-null   int64
 11  spotracLink      1669 non-null   object
dtypes: float64(3), int64(3), object(6)
memory usage: 156.6+ KB

In [4]:
# drop all rows with missing salary value

salary_df = salary_df[salary_df['total_salary'].notna()]
print(f"Total rows left: {len(salary_df.index)}")

Total rows left: 1275

In [5]:
# drop the only entry from year 2011

salary_df = salary_df.drop([0])
# drop first column
salary_df.drop(columns=salary_df.columns[0], axis=1, inplace=True)

In [6]:
# drop all pitchers: SP and RP

drop_SP = salary_df[salary_df['position'] == 'SP'].index
salary_df.drop(drop_SP, inplace = True)
drop_RP = salary_df[salary_df['position'] == 'RP'].index
salary_df.drop(drop_RP, inplace = True)
# change all outfield positions into 'OF'
salary_df.position.replace(['LF', 'CF', 'RF'], 'OF', inplace=True)

In [7]:
salary_df.sort_values('name', inplace=True)
salary_df.reset_index(drop=True, inplace=True)
salary_df.head()

,name,position,age,from_team,to_tam,contract_length,total_salary,avg_salary,year,spotracID,spotracLink
0,A.J. Ellis,C,35.6,PHI,MIA,1,2500000.0,2500000.0,2017,7427,https://www.spotrac.com/redirect/player/7427/
1,A.J. Pierzynski,C,37.5,BOS,STL,1,500000.0,500000.0,2014,188,https://www.spotrac.com/redirect/player/188/
2,A.J. Pierzynski,C,35.9,CHW,TEX,1,7500000.0,7500000.0,2013,188,https://www.spotrac.com/redirect/player/188/
3,A.J. Pierzynski,C,37.9,STL,ATL,1,2000000.0,2000000.0,2015,188,https://www.spotrac.com/redirect/player/188/
4,A.J. Pierzynski,C,38.8,ATL,ATL,1,3000000.0,3000000.0,2016,188,https://www.spotrac.com/redirect/player/188/

In [8]:
# see if more than one players have the same name in our salary data

## make a df with unique spotracIDs
unique = salary_df.drop_duplicates(subset=['spotracID'])
## check if there's any duplicate names in our unique DF
print("Players with the same name:")
unique[unique.duplicated(subset=['name'], keep=False)]
# there isn't any

Players with the same name:

Empty DataFrame
Columns: [name, position, age, from_team, to_tam, contract_length, total_salary, avg_salary, year, spotracID, spotracLink]
Index: []

## 1.2 Assign an ID to each unique player entry
We will need to merge the salary data with the production stats later on in order to perform analysis. Since the salary data came with only Spotrac IDs, we need to somehow lookup every individual player's FanGraphs ID instead, and assign it back to them. Luckily, `pybaseball` is embedded with the `playerid_lookup` function which does just that.

In [9]:
# create a new DataFrame just for the search operation

player_search = salary_df[['name','spotracID','spotracLink']].copy()
player_search.drop_duplicates(subset=['name'], keep='first', inplace=True)
player_search.head()

              name  spotracID                                     spotracLink
0       A.J. Ellis       7427   https://www.spotrac.com/redirect/player/7427/
1  A.J. Pierzynski        188    https://www.spotrac.com/redirect/player/188/
5     A.J. Pollock      10693  https://www.spotrac.com/redirect/player/10693/
6       Aaron Hill        908    https://www.spotrac.com/redirect/player/908/
7  Abraham Almonte      14343  https://www.spotrac.com/redirect/player/14343/

In [10]:
# split full names into first and last

for i, row in player_search.iterrows():
    player_search.at[i, 'first_name'] = row['name'].split()[0].lower()
    if len(row['name'].split()) <= 2:
        player_search.at[i, 'last_name'] = row['name'].split()[-1].lower()
    else:
        player_search.at[i, 'last_name'] = row['name'].split()[1].lower()
player_search.head()

,name,spotracID,spotracLink,first_name,last_name
0,A.J. Ellis,7427,https://www.spotrac.com/redirect/player/7427/,a.j.,ellis
1,A.J. Pierzynski,188,https://www.spotrac.com/redirect/player/188/,a.j.,pierzynski
5,A.J. Pollock,10693,https://www.spotrac.com/redirect/player/10693/,a.j.,pollock
6,Aaron Hill,908,https://www.spotrac.com/redirect/player/908/,aaron,hill
7,Abraham Almonte,14343,https://www.spotrac.com/redirect/player/14343/,abraham,almonte

In [11]:
# add an empty space into the abbreviated first names: e.g. 'c.j.' into 'c. j.'

for i, row in player_search.iterrows():
    if '.' in row.first_name:
        row.first_name = row.first_name.replace('.', '. ', 1)
        player_search.at[i, 'first_name'] = row.first_name
player_search.loc[[0]]
# Don't run more than once!

,name,spotracID,spotracLink,first_name,last_name
0,A.J. Ellis,7427,https://www.spotrac.com/redirect/player/7427/,a. j.,ellis

In [12]:
# create a list of tuples(last, first) to pass into the playerid_lookup function

name_list = []
for i, row in player_search.iterrows():
    tup = (row.last_name, row.first_name)
    name_list.append(tup)
print(f"# of players to be searched: {len(name_list)}")
name_list[:5]

# of players to be searched: 383

[('ellis', 'a. j.'),
 ('pierzynski', 'a. j.'),
 ('pollock', 'a. j.'),
 ('hill', 'aaron'),
 ('almonte', 'abraham')]

In [13]:
# lookup player IDs

playerID = player_search_list(name_list)
playerID.head()

Gathering player lookup table. This may take a moment.

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,ellis,a. j.,454560,ellia001,ellisaj01,5677,2008.0,2018.0
1,pierzynski,a. j.,150229,piera001,pierza.01,746,1998.0,2016.0
2,hill,aaron,431094,hilla001,hillaa01,6104,2005.0,2017.0
3,almonte,abraham,501659,almoa001,almonab01,5486,2013.0,2021.0
4,duvall,adam,594807,duvaa001,duvalad01,10950,2014.0,2021.0

In [14]:
# check if we have any duplicate results

playerID[playerID.duplicated(subset=['name_last', 'name_first'], keep=False)]
# indeed we have a lot

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
17,gonzalez,alex,136460,gonza002,gonzaal02,520,1998.0,2014.0
18,gonzalez,alex,114924,gonza001,gonzaal01,281,1994.0,2006.0
36,hall,bill,115355,hallb107,hallbi01,1005234,1913.0,1913.0
37,hall,bill,115356,hallb105,hallbi02,1005235,1954.0,1958.0
38,hall,bill,407849,hallb001,hallbi03,1605,2002.0,2012.0
...,...,...,...,...,...,...,...,...
288,taylor,michael,446345,taylm001,taylomi01,2591,2011.0,2014.0
301,cruz,nelson,112906,cruzn001,cruzne01,554,1997.0,2003.0
302,cruz,nelson,443558,cruzn002,cruzne02,2434,2005.0,2021.0
320,hernandez,ramon,115831,hernr102,hernara01,1005710,1967.0,1977.0
321,hernandez,ramon,150421,hernr002,hernara02,918,1999.0,2013.0

In [15]:
# remove all players whose retired before 2011

idx_drop = playerID[playerID['mlb_played_last']<=2010].index
playerID.drop(idx_drop, inplace=True)
# check if there are still duplicated players
playerID[playerID.duplicated(subset=['name_last', 'name_first'], keep=False)]

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
84,young,chris,432934,younc003,youngch03,3196,2004.0,2017.0
85,young,chris,455759,younc004,youngch04,3882,2006.0,2018.0
287,taylor,michael,572191,taylm002,taylomi02,11489,2014.0,2021.0
288,taylor,michael,446345,taylm001,taylomi01,2591,2011.0,2014.0

In [16]:
# after looking them up manualy, it turned out that chris young 3196 and taylor michael 2591 
# are not the ones I'm after

cy_idx = playerID[playerID['key_fangraphs']==3196].index
mt_idx = playerID[playerID['key_fangraphs']==2591].index
playerID.drop(cy_idx, inplace=True)
playerID.drop(mt_idx, inplace=True)

In [17]:
# see if there's still duplicate entries

playerID[playerID.duplicated(subset=['name_last', 'name_first'], keep=False)]
# nope

Empty DataFrame
Columns: [name_last, name_first, key_mlbam, key_retro, key_bbref, key_fangraphs, mlb_played_first, mlb_played_last]
Index: []

In [18]:
print(f"Number of players we searched: {len(name_list)}")
print(f"Number of result that we got: {len(playerID.index)}")

Number of players we searched: 383
Number of result that we got: 368

In [19]:
# create a list of player name that returned positive results
name_list_positive = []
for i, row in playerID.iterrows():
    tup = (row.name_last, row.name_first)
    name_list_positive.append(tup)
# check who are we still missing
name_list_missing = [x for x in name_list if x not in name_list_positive]
name_list_missing

[('pollock', 'a. j.'),
 ('de', 'alejandro'),
 ('ramirez', 'alexei'),
 ('lemahieu', 'd. j.'),
 ('santana', 'daniel'),
 ('iglesias', 'jose'),
 ('martin', 'leonys'),
 ('pina', 'manuel'),
 ('upton', 'melvin'),
 ('aoki', 'norichika'),
 ('pearce', 'steven'),
 ('la', 'tommy'),
 ('cespedes', 'yoenis'),
 ('torrealba', 'yorbit'),
 ('tsutsugo', 'yoshitomo')]

As you can see, we still ended up with 15 missing players. They were missed due to mismatching name format across databases. I decided to leave them out.

## 1.3 Merge salary data and playerID
Since neither the salary data nor playerID table contains duplicate names, we can safely merge the two on player names, which is the only unique identifier we have anyway. We need to create a `full_name` column in both tables.

In [20]:
# create a 'full_name' column in salary_df

salary_df['full_name'] = salary_df['name'].str.lower().str.replace(' ', '')
salary_df.head()

,name,position,age,from_team,to_tam,contract_length,total_salary,avg_salary,year,spotracID,spotracLink,full_name
0,A.J. Ellis,C,35.6,PHI,MIA,1,2500000.0,2500000.0,2017,7427,https://www.spotrac.com/redirect/player/7427/,a.j.ellis
1,A.J. Pierzynski,C,37.5,BOS,STL,1,500000.0,500000.0,2014,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski
2,A.J. Pierzynski,C,35.9,CHW,TEX,1,7500000.0,7500000.0,2013,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski
3,A.J. Pierzynski,C,37.9,STL,ATL,1,2000000.0,2000000.0,2015,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski
4,A.J. Pierzynski,C,38.8,ATL,ATL,1,3000000.0,3000000.0,2016,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski

In [21]:
# create a 'full_name' column in playerID

playerID['full_name'] = playerID['name_first'] + playerID['name_last']
playerID['full_name'] = playerID['full_name'].str.lower().str.replace(' ', '')
playerID.head()

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last,full_name
0,ellis,a. j.,454560,ellia001,ellisaj01,5677,2008.0,2018.0,a.j.ellis
1,pierzynski,a. j.,150229,piera001,pierza.01,746,1998.0,2016.0,a.j.pierzynski
2,hill,aaron,431094,hilla001,hillaa01,6104,2005.0,2017.0,aaronhill
3,almonte,abraham,501659,almoa001,almonab01,5486,2013.0,2021.0,abrahamalmonte
4,duvall,adam,594807,duvaa001,duvalad01,10950,2014.0,2021.0,adamduvall

In [22]:
# perform the merge

salaryFinalDF = pd.merge(salary_df, playerID, on='full_name', how='inner')
salaryFinalDF.head()

,name,position,age,from_team,to_tam,contract_length,total_salary,avg_salary,year,spotracID,spotracLink,full_name,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,A.J. Ellis,C,35.6,PHI,MIA,1,2500000.0,2500000.0,2017,7427,https://www.spotrac.com/redirect/player/7427/,a.j.ellis,ellis,a. j.,454560,ellia001,ellisaj01,5677,2008.0,2018.0
1,A.J. Pierzynski,C,37.5,BOS,STL,1,500000.0,500000.0,2014,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski,pierzynski,a. j.,150229,piera001,pierza.01,746,1998.0,2016.0
2,A.J. Pierzynski,C,35.9,CHW,TEX,1,7500000.0,7500000.0,2013,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski,pierzynski,a. j.,150229,piera001,pierza.01,746,1998.0,2016.0
3,A.J. Pierzynski,C,37.9,STL,ATL,1,2000000.0,2000000.0,2015,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski,pierzynski,a. j.,150229,piera001,pierza.01,746,1998.0,2016.0
4,A.J. Pierzynski,C,38.8,ATL,ATL,1,3000000.0,3000000.0,2016,188,https://www.spotrac.com/redirect/player/188/,a.j.pierzynski,pierzynski,a. j.,150229,piera001,pierza.01,746,1998.0,2016.0

In [23]:
# check how many rows we have, should be a little over 15

print(f"# of rows before merge: {len(salary_df.index)}")
print(f"# of rows after merge: {len(salaryFinalDF.index)}")

# of rows before merge: 583
# of rows after merge: 561

We lost 22, since some of the 15 missed players had 1+ rows of salary information

In [24]:
# drop the columns we don't need

salaryFinalDF.drop(columns=['contract_length', 
                            'total_salary', 
                            'full_name', 
                            'name_last', 
                            'name_first',
                            'key_mlbam', 
                            'key_retro',
                            'key_bbref',
                            'spotracID',
                            'spotracLink'], inplace=True)
# rename the columns
salaryFinalDF.rename(columns={'year': 'year_fa',
                              'key_fangraphs': 'IDfg',
                              'mlb_played_first': 'first_played',
                              'mlb_played_last': 'last_played',
                              'to_tam': 'to_team'}, inplace=True)

In [25]:
# # create dummy variables for position, leaving 'OF' out
# dummies = pd.get_dummies(salaryFinalDF['position']).drop('OF', axis=1)
# dummies.rename(columns={'1B': 'pos_1B', 
#                         '2B': 'pos_2B', 
#                         '3B': 'pos_3B',
#                         'C': 'pos_C', 
#                         'DH': 'pos_DH',
#                         'SS': 'pos_SS'}, inplace=True)
# salaryFinalDF = pd.concat((salaryFinalDF, dummies), axis=1)
# salaryFinalDF.drop('position', axis=1, inplace=True)
# salaryFinalDF.head()

,name,age,from_team,to_team,avg_salary,year_fa,IDfg,first_played,last_played,pos_1B,pos_2B,pos_3B,pos_C,pos_DH,pos_SS
0,A.J. Ellis,35.6,PHI,MIA,2500000.0,2017,5677,2008.0,2018.0,0,0,0,1,0,0
1,A.J. Pierzynski,37.5,BOS,STL,500000.0,2014,746,1998.0,2016.0,0,0,0,1,0,0
2,A.J. Pierzynski,35.9,CHW,TEX,7500000.0,2013,746,1998.0,2016.0,0,0,0,1,0,0
3,A.J. Pierzynski,37.9,STL,ATL,2000000.0,2015,746,1998.0,2016.0,0,0,0,1,0,0
4,A.J. Pierzynski,38.8,ATL,ATL,3000000.0,2016,746,1998.0,2016.0,0,0,0,1,0,0

### Optional Export

In [26]:
# salaryFinalDF.to_csv('salary_cleaned.csv')

## 1.4 Import and clean batting stats
1. Remove entries with BA less than 400:
2. Remove unwanted variables

In [ ]:
# import mlb all batting stats from 2007-2021
batting_df = pd.read_csv('data/mlb-batting.csv')
pd.set_option('display.max_columns', None)
print(batting_df.shape)
batting_df.head()

# drop rows with AB < 400
# batting_df = batting_df.drop(batting_df[batting_df['AB']<400].index)
# batting_df.shape

In [ ]:
# drop all unwanted stats
var_list = ['IDfg', 
            'Season', 
            'Name', 
            'Team', 
            'Age', 
            'G', 
            'PA', 
            'AB', 
            'R', 
            'H',
            '1B',
            '2B',
            '3B',
            'HR',
            'RBI',
            'SB',
            'CS',
            'BB',
            'SO',
            'GDP',
            'HBP',
            'SH',
            'SF',
            'IBB',
            'wRAA',
            'wOBA',
            'wRC+',
            'WPA',
            'WAR']
# NOTE: we are leaving out the percentage stats(e.g. AVG, OBP, OPS) for now because they can't be simply sumed or 
# averaged over years. I will calculate these stats myself later.
batting_basic_df = batting_df[var_list]
batting_basic_df = batting_basic_df.sort_values(by=['IDfg', 'Season'], ascending=True)
batting_basic_df.reset_index(drop=True, inplace=True)
batting_basic_df.columns

## 1.5 Merge salary and batting data for analysis

In [ ]:
# re_index batting_basic_df
batting_basic_df.reset_index(drop=True, inplace=True)
batting_basic_df = batting_basic_df.set_index(['IDfg'])
batting_basic_df.sort_index(level=['IDfg'], inplace=True)

### Optional Export

In [ ]:
# batting_basic_df.to_csv('batting_cleaned.csv')

In [ ]:
# aggregate batting_basic based on FA year
agg_method = {'Age':'max',
             'G':'sum',
             'PA':'sum',
             'AB':'sum',
             'R':'sum',
             'H':'sum',
             '1B':'sum',
             '2B':'sum',
             '3B':'sum',
             'HR':'sum',
             'RBI':'sum',
             'SB':'sum',
             'CS':'sum',
             'BB':'sum',
             'SO':'sum',
             'GDP':'sum',
             'HBP':'sum',
             'SH':'sum',
             'SF':'sum',
             'IBB':'sum',
             'wRAA':'mean',
             'wRC+':'mean',
             'WPA':'sum',
             'WAR':'sum'}
batting_aggDF = pd.DataFrame()
# for each year of salary info, we aggregate 5 years' of batting stats before that. NOTE: right now we don't
# exlude any entries that have less than 5 years worth of batting stats
for row in salaryFinalDF.itertuples():
    selected_years = [row.year_fa-1, row.year_fa-2, row.year_fa-3, row.year_fa-4, row.year_fa-5,]
    player = batting_basic_df.loc[row.IDfg]
    player_add = player[player['Season'].isin(selected_years)].groupby(by=['IDfg','Name']).agg(agg_method)
    player_add['Year_FA']=row.year_fa
    player_add['Salary']=row.avg_salary
    player_add['position']=row.position
    player_add['seasons_included']=len(player[player['Season'].isin(selected_years)].index)
    batting_aggDF = batting_aggDF.append(player_add)

In [ ]:
# Now, calculate the percentage stats and Total Bases:
batting_aggDF['AVG'] = batting_aggDF['H'] / batting_aggDF['AB']
batting_aggDF['OBP'] = (batting_aggDF['H'] + batting_aggDF['BB'] + batting_aggDF['IBB'] + batting_aggDF['HBP'])/(batting_aggDF['AB'] + batting_aggDF['BB'] + batting_aggDF['IBB'] + batting_aggDF['HBP'] + batting_aggDF['SF'])
batting_aggDF['SLG'] = (batting_aggDF['1B'] + batting_aggDF['2B'] * 2 + batting_aggDF['3B'] * 3 + batting_aggDF['HR'] * 4)/batting_aggDF['AB']
batting_aggDF['OPS'] = batting_aggDF['OBP'] + batting_aggDF['SLG']
batting_aggDF['BABIP'] = (batting_aggDF['H'] - batting_aggDF['HR'])/(batting_aggDF['AB']-batting_aggDF['SO']-batting_aggDF['HR']+batting_aggDF['SF'])
batting_aggDF['ISO'] = batting_aggDF['SLG'] - batting_aggDF['AVG']
batting_aggDF['TB'] = batting_aggDF['1B'] + 2*batting_aggDF['2B'] + 3*batting_aggDF['3B'] + 4*batting_aggDF['HR']

In [ ]:
batting_aggDF.head()

In [ ]:
# # this is the frequency table for the number of seasons included
# print("#ofSeasons: #ofEntries:")
# batting_aggDF.seasons_included.value_counts()

In [ ]:
# # check distribution of position
# batting_aggDF['position'].value_counts()

In [ ]:
# # create dummy variables for position, leaving 'OF' out
# dummies = pd.get_dummies(batting_aggDF['position']).drop('OF', axis=1)
# dummies.rename(columns={'1B': '1B_pos', 
#                         '2B': '2B_pos', 
#                         '3B': '3B_pos',
#                         'C': 'C_pos', 
#                         'DH': 'DH_pos',
#                         'SS': 'SS_pos'}, inplace=True)
# batting_aggDF = pd.concat((batting_aggDF, dummies), axis=1)
# batting_aggDF.head()

In [ ]:
# # drop 'position'
# batting_aggDF.drop('position', axis=1, inplace=True)
# # re-arange the columns
# col = ['Age','seasons_included', '1B_pos', '2B_pos', '3B_pos', 'C_pos', 'DH_pos', 'SS_pos', 'G', 
#        'PA', 'AB', 'R', 'H', '1B', '2B', '3B', 'HR', 'TB', 'RBI', 'BB', 'SO', 'HBP', 
#        'IBB', 'SB', 'CS', 'GDP', 'SH', 'SF', 'AVG', 'OBP', 'SLG', 'OPS', 'ISO', 
#        'BABIP', 'wRAA', 'wRC+', 'WPA', 'WAR', 'Year_FA', 'Salary']
# batting_aggDF = batting_aggDF[col]

In [ ]:
# batting_aggDF.head()

## 1.6 Export DataFrame to CSV

In [ ]:
# batting_aggDF.to_csv('data_cleaned.csv')

Click [here](main.ipynb) to see __Part 2: EDA and Modeling__